*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
body{
    height: 100vh;
    background-color: #000;
    background-image: url('../images/dash.png');
    backdrop-filter: blur(0px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', sans-serif;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover {
    color: orange
}
header{
    position: relative;
    padding: 2rem;
}

  
  @media (max-width: 768px) {
    .grid-container {
      margin: 5%; 
    }
  
    .item1 {
      grid-column-end: 4; 
    }
  
    .item3 {
      display: none; 
    }
  }
  
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: wheat;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    font-weight:  bold;

}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.829);
    backdrop-filter: blur(1000px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
}
.dropdown_menu.open{
    height: 200px;
}
.dropdown_menu li a{
    color: #000;
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#home{
    height: calc(80vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    color: white;
    overflow: hidden;
}

.scrollable {
    overflow-x: scroll; /* Hide horizontal overflow */
    overflow-y:scroll;
    height: 100%; /* Set height to fill available space */
}
#home h4{
    font-family: 'Trebuchet MS', sans-serif;
    color: #000;
}
.input-container {
    text-align: left; 
}
input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    text-align: left;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  input[type=submit] {
    width: 80px;
    background-color: D9D9D9;
    color: black;
    font-weight: 900;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .sidebutton {
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 14px 20px;
    margin: 0;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(20px);
}
.Center {
  width: 120px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 14px 20px;
  margin: 0;
  cursor: pointer;
  background: transparent;
  backdrop-filter: blur(20px);
}

.user-grid-container {
  float: right;
}

.log {
  display: flex;
  align-items: flex-start;
}
.sidebuttons {
  margin-right: 20px;
}
.sidebutton {
  margin-bottom: 10px;
}
.user-table-container {
  flex-grow: 1;

}
.user-table {
  border-collapse: collapse;
  width: 100%;
}
.user-table th, .user-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 250px;
     height: auto; 
}
.text-dark{
    color: black;
}

  .log {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1px;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: inherit;
    border-radius: 5px;
    backdrop-filter: blur(20px);
  }
  .log h4{
    text-align: left;

  }
  .user-table-container {
    text-align: center;
}

.user-table {
    margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.edit-delete-buttons {
  margin-top: 10px;
}

.edit-delete-buttons button {
  margin-left: 5px;
}

.sidebar {
  margin: unset;
  padding: 20px;
  width: 200px;
  background-color: #dcdcdc;
  position: fixed;
  height: inherit;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: inherit;
  
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media(max-width: 992px){
    .sidebar {
        display: none;
    }
}
@media(max-width: 992px){
    div.content {
        margin-left: 0px;
        padding: 1px 16px;
        height: inherit;
      }
}
@media(max-width: 992px){
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 1px;
    }
}
@media(max-width: 766px){
    .image-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-item {
        text-align: center;
        margin-bottom: 20px; 
    }

    .image-item img {
        max-width: 250px; 
        height: auto;
    }
}



@media(max-width: 992px){

    .navbar .links
    {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}@media (max-width: 768px) {
    #sechome h2 {
        font-size: 2rem; 
    }

    #sechome p {
        margin: 0; 
    }
}
