:root {
    --wwwdjicomnero: rgba(255, 255, 255, 1);
    --wwwdjicomnero-nero: rgba(255, 255, 255, 1);
    --wwwdjicomblack-85: rgba(0, 0, 0, 0.85);
    --wwwdjicomshark: rgba(48, 50, 51, 1);
    --wwwdjicomscience-blue: rgba(0, 112, 213, 1);
    --wwwdjicomnero-85: rgba(255, 255, 255, 0.85);
    --wwwdjicomblack-6: rgba(0, 0, 0, 0.06);
    --wwwdjicomseashell: rgba(241, 241, 241, 1);
    --wwwdjicomnero-65: rgba(255, 255, 255, 0.65);
    --wwwdjicomnero-20: rgba(255, 255, 255, 0.2);
    --wwwdjicomjapanese-laurel: rgba(24, 144, 255, 1);
    --wwwdjicomblack: rgba(0, 0, 0, 1);
    --wwwdjicomblack-linear-gable-green-pickled-bluewood: rgba(0, 0, 0, 1);
    --wwwdjicomnero-15: rgba(255, 255, 255, 0.15);
    --wwwdjicomboston-blue: rgba(66, 150, 195, 1);
    --wwwdjicomnero-9: rgba(255, 255, 255, 0.09);
    --wwwdjicomcod-gray: rgba(20, 20, 20, 1);
    --wwwdjicomtundora: rgba(78, 78, 78, 1);
    --wwwdjicomgray-chateau: rgba(159, 163, 166, 1);
    --wwwdjicomnero-12: rgba(255, 255, 255, 0.12);
    --wwwdjicomlimeade: rgba(105, 192, 255, 1);
    --wwwdjicommine-shaft: rgba(39, 39, 39, 1);
    --wwwdjicomshark-90: rgba(35, 37, 38, 0.9);
    --wwwdjicomnero-8: rgba(255, 255, 255, 0.08);
    --wwwdjicomnevada: rgba(97, 100, 102, 1);
    --wwwdjicomboulder: rgba(117, 117, 117, 1);
    --www-dji-com-open-sans-regular-14-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-14-font-weight: 400;
    --www-dji-com-open-sans-regular-14-font-size: 14px;
    --www-dji-com-open-sans-regular-14-letter-spacing: 0px;
    --www-dji-com-open-sans-regular-14-line-height: normal;
    --www-dji-com-open-sans-regular-14-font-style: normal;
    --www-dji-com-open-sans-semibold-20-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-20-font-weight: 600;
    --www-dji-com-open-sans-semibold-20-font-size: 20px;
    --www-dji-com-open-sans-semibold-20-letter-spacing: -0.6000000238418579px;
    --www-dji-com-open-sans-semibold-20-line-height: 28px;
    --www-dji-com-open-sans-semibold-20-font-style: normal;
    --www-dji-com-open-sans-semibold-32-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-32-font-weight: 600;
    --www-dji-com-open-sans-semibold-32-font-size: 32px;
    --www-dji-com-open-sans-semibold-32-letter-spacing: -0.9599999785423279px;
    --www-dji-com-open-sans-semibold-32-line-height: 36px;
    --www-dji-com-open-sans-semibold-32-font-style: normal;
    --www-dji-com-open-sans-regular-16-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-16-font-weight: 400;
    --www-dji-com-open-sans-regular-16-font-size: 16px;
    --www-dji-com-open-sans-regular-16-letter-spacing: 0px;
    --www-dji-com-open-sans-regular-16-line-height: 24px;
    --www-dji-com-open-sans-regular-16-font-style: normal;
    --www-dji-com-open-sans-regular-32-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-32-font-weight: 400;
    --www-dji-com-open-sans-regular-32-font-size: 32px;
    --www-dji-com-open-sans-regular-32-letter-spacing: -0.9599999785423279px;
    --www-dji-com-open-sans-regular-32-line-height: 40px;
    --www-dji-com-open-sans-regular-32-font-style: normal;
    --www-dji-com-open-sans-regular-24-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-24-font-weight: 400;
    --www-dji-com-open-sans-regular-24-font-size: 24px;
    --www-dji-com-open-sans-regular-24-letter-spacing: -0.7200000286102295px;
    --www-dji-com-open-sans-regular-24-line-height: 28px;
    --www-dji-com-open-sans-regular-24-font-style: normal;
    --www-dji-com-open-sans-semibold-24-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-24-font-weight: 600;
    --www-dji-com-open-sans-semibold-24-font-size: 24px;
    --www-dji-com-open-sans-semibold-24-letter-spacing: -0.7200000286102295px;
    --www-dji-com-open-sans-semibold-24-line-height: 28px;
    --www-dji-com-open-sans-semibold-24-font-style: normal;
    --www-dji-com-open-sans-semibold-48-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-48-font-weight: 600;
    --www-dji-com-open-sans-semibold-48-font-size: 48px;
    --www-dji-com-open-sans-semibold-48-letter-spacing: -1.440000057220459px;
    --www-dji-com-open-sans-semibold-48-line-height: 36px;
    --www-dji-com-open-sans-semibold-48-font-style: normal;
    --www-dji-com-open-sans-semibold-96-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-96-font-weight: 600;
    --www-dji-com-open-sans-semibold-96-font-size: 96px;
    --www-dji-com-open-sans-semibold-96-letter-spacing: -2.880000114440918px;
    --www-dji-com-open-sans-semibold-96-line-height: 104px;
    --www-dji-com-open-sans-semibold-96-font-style: normal;
    --www-dji-com-open-sans-semibold-64-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-64-font-weight: 600;
    --www-dji-com-open-sans-semibold-64-font-size: 64px;
    --www-dji-com-open-sans-semibold-64-letter-spacing: -1.9199999570846558px;
    --www-dji-com-open-sans-semibold-64-line-height: 68px;
    --www-dji-com-open-sans-semibold-64-font-style: normal;
    --www-dji-com-open-sans-regular-48-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-48-font-weight: 400;
    --www-dji-com-open-sans-regular-48-font-size: 48px;
    --www-dji-com-open-sans-regular-48-letter-spacing: -1.440000057220459px;
    --www-dji-com-open-sans-regular-48-line-height: 56px;
    --www-dji-com-open-sans-regular-48-font-style: normal;
    --www-dji-com-open-sans-regular-18-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-18-font-weight: 400;
    --www-dji-com-open-sans-regular-18-font-size: 18px;
    --www-dji-com-open-sans-regular-18-letter-spacing: -0.47999998927116394px;
    --www-dji-com-open-sans-regular-18-line-height: 32px;
    --www-dji-com-open-sans-regular-18-font-style: normal;
    --www-dji-com-open-sans-regular-12-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-12-font-weight: 400;
    --www-dji-com-open-sans-regular-12-font-size: 12px;
    --www-dji-com-open-sans-regular-12-letter-spacing: 0px;
    --www-dji-com-open-sans-regular-12-line-height: 12px;
    --www-dji-com-open-sans-regular-12-font-style: normal;
    --www-dji-com-open-sans-semibold-40-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-40-font-weight: 600;
    --www-dji-com-open-sans-semibold-40-font-size: 40px;
    --www-dji-com-open-sans-semibold-40-letter-spacing: -0.800000011920929px;
    --www-dji-com-open-sans-semibold-40-line-height: 48px;
    --www-dji-com-open-sans-semibold-40-font-style: normal;
    --www-dji-com-open-sans-regular-30-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-30-font-weight: 400;
    --www-dji-com-open-sans-regular-30-font-size: 30px;
    --www-dji-com-open-sans-regular-30-letter-spacing: -0.800000011920929px;
    --www-dji-com-open-sans-regular-30-line-height: 48px;
    --www-dji-com-open-sans-regular-30-font-style: normal;
    --www-dji-com-open-sans-semibold-80-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-80-font-weight: 600;
    --www-dji-com-open-sans-semibold-80-font-size: 80px;
    --www-dji-com-open-sans-semibold-80-letter-spacing: -2.4000000953674316px;
    --www-dji-com-open-sans-semibold-80-line-height: 84px;
    --www-dji-com-open-sans-semibold-80-font-style: normal;
    --www-dji-com-open-sans-regular-10-5-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-10-5-font-weight: 400;
    --www-dji-com-open-sans-regular-10-5-font-size: 10.5px;
    --www-dji-com-open-sans-regular-10-5-letter-spacing: -0.2800000011920929px;
    --www-dji-com-open-sans-regular-10-5-line-height: 20px;
    --www-dji-com-open-sans-regular-10-5-font-style: normal;
    --www-dji-com-open-sans-semibold-18-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-semibold-18-font-weight: 600;
    --www-dji-com-open-sans-semibold-18-font-size: 18px;
    --www-dji-com-open-sans-semibold-18-letter-spacing: -0.5400000214576721px;
    --www-dji-com-open-sans-semibold-18-line-height: 24px;
    --www-dji-com-open-sans-semibold-18-font-style: normal;
    --www-dji-com-open-sans-regular-20-font-family: "Open Sans", Helvetica;
    --www-dji-com-open-sans-regular-20-font-weight: 400;
    --www-dji-com-open-sans-regular-20-font-size: 20px;
    --www-dji-com-open-sans-regular-20-letter-spacing: -0.6000000238418579px;
    --www-dji-com-open-sans-regular-20-line-height: 30px;
    --www-dji-com-open-sans-regular-20-font-style: normal;
  }
  