*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
body{
    height: 100vh;
    background-color: #000;
    background-image: url('../images/Signin.png');
    backdrop-filter: blur(0px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', sans-serif;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover {
    color: orange
}
header{
    position: relative;
    padding: 0 2rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 10px;
    padding: 10px;
    margin: 5%; 
  }
  
  .grid-container > div {
    text-align: justify;
    padding: 20px 0;
    font-size: small;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3; 
  }
  
  .item2, .item3 {
    align-items: center;
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      margin: 5%; 
    }
  
    .item1 {
      grid-column-end: 4; 
    }
  
    .item3 {
      display: none; 
    }
  }
  
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: wheat;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.5rem;
    font-weight:  bold;

}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#home{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    color: white;
}
#home h4{
    font-family: 'Trebuchet MS', sans-serif;
    color: #000;
}
.input-container {
    text-align: left; 
}
input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    text-align: left;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
  }
  input[type=password], select {
    width: 300px;
    padding: 12px 20px;
    text-align: left;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  input[type=submit] {
    width: 80px;
    background-color: D9D9D9;
    color: black;
    font-weight: 900;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .log {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
  }
  .forget{
    text-align: left;
  }
  .signin{
    text-align: right;
  }
  


@media(max-width: 992px){

    .navbar .links
    {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}@media (max-width: 768px) {
    #sechome h2 {
        font-size: 2rem; 
    }

    #sechome p {
        margin: 0; 
    }
}